* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	font-family: 'Poppins', sans-serif;
}

.background {
	position: fixed;
	height: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.image {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.image img {
	width: 510px;
}


.loginbox {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.loginimage {
	width: 120px; 
}

form {
	width: 360px;
}

form h2 {
	font-size: 3rem; 
	text-transform: uppercase;
	margin: 3% 0;
	color: 333;
}

.inputbox {
	display: grid;
	grid-template-columns: 7% 93%;
	margin-top: 25px 0;
	padding: 5px 0;
	border-bottom: 1.5px solid #d9dAdA 
}

.inputbox.first {
	margin-top: 0;
}

.inputbox.second {
	margin-bottom: 9px;
}

.i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	color: #d7d7d7;
}

.inputbox > div {
	position: relative;
	height: 48px;
}

.inputbox > div h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-45%);
	color: #AAA;
	font-size: 17px; 
	transition: 0.3s;
}

.inputs {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 0;
	outline: 0;
	background: 0;
	color: #555;
	font-size: 1.18rem;
	padding: 0 4px;
	font-family: 'Poppins', sans-serif;
}

a {
	display: block;
	text-align: right;
	color: #888;
	font-size: 0.85rem;
	transition: 0.25s;
	text-decoration: none;
}

a:hover {
	color: #d54132;
}

span {
	font-size: 0.85rem;
}

.ls {
	display: inline-block;
}

.btn {
	display: block;
	width: 100%;
	height: 55px;
	outline: none;
	border: none;
	margin: 1rem 0;
	background: #d54132;
	background-size: 200%;
	border-radius: 20px;  
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	transition: 0.3s;
}

.btn:hover {
	background: rgb(245, 0, 0);
}

.display {
	display: none;
}

@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	form h2 {
		font-size: 2.35rem;
		margin: 8px 0;
	}

	.image img {
		width: 400px;
	}
}

@media screen and (max-width: 830px) {
	.img img {
		display: none;
	}

	.container {
		grid-template-columns: 1fr;
	}

	.image {
		display: none;
	}

	.background {
		display: none;
	}

	.loginbox {
		justify-content: center;
	}
}

